* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Andika', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(23, 23, 60);
  color: white;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

}

input::-webkit-input-placeholder {
  font-family: 'Andika', sans-serif;
}
input:-ms-input-placeholder {
  font-family: 'Andika', sans-serif;
}
input:-moz-placeholder {
  font-family: 'Andika', sans-serif;
}
input::-moz-placeholder {
  font-family: 'Andika', sans-serif;
}

@media (max-width: 600px) {
  body {
    height: 100vh;
    overflow: hidden;
  }
}


::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}