*/node_modules/*
node_modules*
*/package-lock.json

*/.env
*/.env.production
*/.env.development
*/logs/*.log*
logs

/server/backup/*
/server/config/config.json
/server/static/*
/server/server.tar.gz

*.bkp
*csv#

ssdr.sh
scdr.sh