.burger-btn {
    width: 3vw;
    height: 2.5vw;
    position: relative;
    float: right;
    margin-right: 6vw;
    margin-left: 2vw;
    top: 0.25vw;
    cursor: pointer;
    display: none;
}

.burger-btn::before {
    content: '';
    position: absolute;
    top: 0;
    width: 3vw;
    height: 2px;
    background-color: white;
}

.burger-btn span {
    content: '';
    position: absolute;
    top: 1.25vw;
    width: 3vw;
    height: 2px;
    background-color: white;
}

.burger-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 3vw;
    height: 2px;
    background-color: white;
}

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 6vw;
    right: 0;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
}

.active {
    transform: translateX(0);
}

.blur {
    width: 100vw;
    height: 100vh;
    /* right: 30%; */
    backdrop-filter: blur(5px);
    position: absolute;
}


.menu__content_wrapper {
    overflow-y: scroll;
    margin-top: 2vw;
    height: 75vh;
}

.menu__content {
    width: 30%;
    height: 90vh;
    background-color: rgb(23, 23, 30);
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* pointer-events: all; */
}

.menu__content img {
    width: 2vw;
}

ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

ul li {
    text-decoration: none;
    margin: 0.3vw;
    text-align: start;
    list-style-type: none;
    position: relative;
}

ul li a {
    text-decoration: none;
    color: white;
    margin: 1vw;
    text-align: start;
}

.steps_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.step_content {
    border: 2px solid white;
    padding: 1vw;
    margin: 1vw;
    font-size: 1vw;
    transition: all 0.1s;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.year_wrapper {
    border: 1px solid gray;
    height: 10vw;
    padding: 1vw;
    margin: 2vw;
    font-size: 4vw;
    transition: all 0.2s;
    overflow-y: scroll;
    width: 25vw;
}

.years_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.year_content {
    border: 2px solid white;
    width: 8vw;
    padding: 0.5vw;
    margin: 1vw;
    font-size: 1vw;
    transition: all 0.1s;
    cursor: pointer;
}

.heart_burger {
    width: 5vw;
    position: absolute;
    top: 0;
    right: 0;
}

.apply_btn {
    width: 20vw;
    height: 5vw;
    border: 2px solid white;
    margin-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    cursor: pointer;
    position: absolute;
    bottom: 5vw;
}


@media screen and (max-width: 600px) {
    .burger-btn {
        width: 8vw;
        height: 8vw;
        margin-right: 8vw;
        margin-left: 1vw;
        top: 1vw;
        display: block;
    }

    .burger-btn::before, .burger-btn::after {
        width: 8vw;
    }

    .burger-btn span {
        top: 4vw;
        width: 8vw;
    }

    .menu {
        top: 15vw;
    }

    .menu__content {
        width: 100%;
        height: 100%;
        padding: 5vw;
    }

    .menu__content_wrapper {
        margin-top: 10vw;
        height: 70vh;
    }

    .blur {
        display: none;
    }

    .menu__header {
        font-size: 10vw;
    }

    .menu__content img {
        width: 8vw;
    }

    ul li {
        margin: 1vw;
        display: flex;
    }

    ul li a {
        margin: 1vw;
        padding-right: 2vw;
        text-wrap: nowrap;
    }

    ul li span {
        color: gray;
        text-wrap: nowrap;
        margin: 1vw;
    }

    .burger_item_txt {
        margin-left: 10px;
        overflow-x: scroll;
        width: 60vw;
        display: flex;
    }

    .filter__header {
        font-size: 6vw;
        margin-bottom: 2vw;
        margin-top: 1vw;
    }

    .steps_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .step_content {
        border: 2px solid white;
        padding: 2vw;
        margin: 2vw;
        font-size: 3.5vw;
        transition: all 0.1s;
        display: flex;
        align-items: center;
    }

    .year_wrapper {
        border: 1px solid gray;
        height: 35vw;
        padding: 2vw;
        margin: 2vw;
        font-size: 4vw;
        transition: all 0.2s;
        overflow-y: scroll;
        width: 90vw;
    }

    .years_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .year_content {
        border: 2px solid white;
        width: 30vw;
        padding: 2vw;
        margin: 2vw;
        font-size: 3.5vw;
        transition: all 0.1s;
    }

    .apply_btn {
        width: 80vw;
        height: 20vw;
        border: 2px solid white;
        margin-top: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6vw;
        position: relative;
    }

    .heart_burger {
        width: 5vw;
        position: absolute;
        top: 0;
        right: 0;
    }
}