header {
    width: 100%;
    height: 6vw;
    background-color: rgb(23, 23, 50);
    position: fixed;
    transform: translateY(0);
    transition: transform 0.3s ease;
    top: 0;
    left: 0;
    z-index: 1;
}

.shadow {
    box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.hidden {
    transform: translateY(-110%);
    /* display: none; */
}

.mainLogo {
    width: 10vw;
    padding: 0px 10px;
    top: 0vw;
    left: 0;
    position: absolute;
}

.headerBtnContainer {
    float: right;
    /* border: 0.1vw dotted violet; */
    /* width: fit-content; */
    top: 1.5vw;
    right: 0;
    position: absolute;
}

.filterLogo {
    width: 3vw;
    stroke: white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin: 0px 3vw;
}

.filterLogo:hover,
.adminLogo:hover {
    transform: scale(1.1);
}

.adminLogo {
    width: 2.2vw;
    fill: white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    top: -0.3vw;
    position: relative;
    margin: 0px 3vw;
}

.search {
    float: left;
    padding-top: 0vw;
    position: relative;
}

.search::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
}

.search input {
    background-color: rgb(23, 23, 50);
    color: white;
    width: 30vw;
    padding-left: 1vw;
    font-size: 2vw;
}

@media screen and (max-width: 600px) {
    header {
        height: 15vw;
    }

    .hidden {
        transform: translateY(0%);
    }

    .mainLogo {
        width: 30vw;
        padding: 0px 10px;
        top: -1vw;
        left: 0;
        position: absolute;
    }

    .headerBtnContainer {
        top: 2.5vw;
        display: flex;
        justify-content: flex-end;
        width: 70vw;
    }

    .filterLogo {
        width: 10vw;
        margin: 0px 3vw;
        top: 0.5vw;
        position: relative;
    }

    .filterLogo:hover,
    .adminLogo:hover {
        transform: scale(1);
    }

    .adminLogo {
        width: 8vw;
        top: 0.5vw;
        margin: 0px 3vw;
    }

    .search {
        float: left;
        padding-top: 2vw;
        position: relative;
    }

    .search::after {
        content: '';
        width: 100%;
        position: absolute;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: white;
    }

    .search input {
        background-color: rgb(23, 23, 50);
        color: white;
        /* width: 35vw; */
        padding-left: 1vw;
        font-size: 5vw;
    }
}