.starBlock {
    display: flex;
    float: left;
    width: 100%;
    padding-top: 1vw;
}

.clickBox {
    width: 18vw;
    height: 18vw;
    position: absolute;
    top: 0;
    left: -1vw;
    pointer-events: all;
    z-index: 1;
    /* display: none; */
}

.starContainer {
    position: relative;
    display: block;
}

.starBack {
    width: 18vw;
    stroke: gray;
    position: absolute;
    left: -1vw;
}

.starFront {
    width: 18vw;
    stroke: yellow;
    position: absolute;
    left: -1vw;
}

.starParams {
    display: inline-block;
    padding-top: 2.5vw;
}

.starName {
    font-size: 4vw;
    color: white;
    padding-left: 25vw;
    text-align: start;
    position: relative;
}

input {
    font-size: 5vw;
    color: white;
    background-color: transparent;
    border: none;
    width: 15vw;
    display: block;
    padding-top: 1vw;
}

input:focus {
    outline: none;
}

.value_container {
    display: flex;
    flex-direction: row;
    padding-left: 25vw;
}

.dec_arrow {
    transform: rotate(180deg);
    width: 10vw;
    position: relative;
    margin-top: 1vw;
}

.inc_arrow {
    width: 10vw;  
    position: relative;
    margin-top: 1vw;
}

.dec_arrow svg {
    bottom: 0;
}

.dec_arrow svg, .inc_arrow svg {
    position: absolute;
    right: 0;
    height: 5vw;
}

.value_input {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .starFront, .starBack, .clickBox {
        width: 8vw;
        height: 8vw;
    }

    .starName {
        display: none;
    }

    .clickBox {
        cursor: pointer;
    }
}